@import "http://fonts.googleapis.com/css?family=Open Sans:regular,semibold,italic,italicsemibold|Inconsolata&amp;v2";
.main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

.section {
    background: #dddee2;
    border-radius: 2px;
    padding: 5px;
    width: 50%;
}

.centered {
    margin: auto;
    width: 50%;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
}
.descriptor {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.options {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    width: 350px;
    display: flex;
    margin: auto;
    text-align: center;
}
